@page "/ManageFinanceItem/{FinanceType}"

@using LifePlanner.Services
@using LifePlanner.Data.Models
@inject NavigationManager navigationManager;
@inject FinanceService financeService;
@rendermode InteractiveServer

<h3>ManageFinanceItem</h3>

<EditForm Model=@fItem OnValidSubmit="HandleSubmit" FormName="FinanceForms">
    <div class="mt-3">
        <label class="form-label" for="NameInput">Finance Name</label>
        <InputText class="form-control" id="NameInput" @bind-Value="@fItem.Name"></InputText>
    </div>
    <div class="mt-3">
        <label class="form-label" for="ValueInput">Amount</label>
        <InputNumber step="0.01" class="form-control" id="ValueInput" @bind-Value="@fItem.value"></InputNumber>
        <div>@string.Format("£{0:N2}", fItem.value)</div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn-primary">Create</button>
    </div>
</EditForm>

@code {
    FinanceData fItem = new FinanceData();
    [Parameter]
    public string FinanceType { get; set; }

    public void HandleSubmit(EditContext editContext)
    {
        if (!editContext.Validate())
            return; // If validation fails, do not proceed

        Console.WriteLine(editContext.Properties);
        var financeItem = (FinanceData)editContext.Model;
        financeItem.Type = FinanceType;
        financeService.AddFinanceItem(financeItem);

        // Redirect to FinanceItems
        navigationManager.NavigateTo("/FinanceItems");
    }
}
